@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  background: url(images/background-pattern-desktop.svg) no-repeat, var(--light-pink);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}
.card {
  background-color: var(--white);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  margin-left: 20px;
  margin-right: 20px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.header h1 {
  color: var(--dark-purple);
  font-size: 2.4rem;
}
.star-icon {
  margin-right: 20px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h2 {
  font-size: 0.9rem;
  color: var(--dark-purple);
}
.question span img {
  display: flex;
  margin-left: 20px;
}
.answer p {
  font-size: 0.8rem;
  color: var(--grayish-purple);
}
.solid {
  border: 1px solid var(--light-pink);
  margin-bottom: 20px;
  margin-top: 20px;
}

.show {
  max-height: 200px;
  margin-top: 20px;
  overflow: clip;
  transition: max-height .3s;
}
.hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s;
}

@media screen and (max-width: 375px) {
  body {
    background: url(images/background-pattern-mobile.svg) no-repeat, var(--light-pink);
  }
  .card {
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;
  }
  .header {
    margin-bottom: 25px;
  }
  .header h1  {
    font-size: 1.8rem;
  }
  .star-icon {
    width: 1.6rem;
  }
  .question span img {
    margin-left: 10px;
  }
}